## Import dependecies

In [2]:
from geopy.geocoders import Nominatim
from googlesearch import search
import requests
import time
import pandas as pd

In [3]:
geolocator = Nominatim(user_agent="MyApp")

In [4]:
companies =['Microsoft', 'Salesforce','Bouygues Construction','BNP Paribas','HSBC','Dataiku']

In [22]:
social_media = ['Twitter', 'Linkedin','Facebook', 'Instagram']

## Function to put name in the right format

In [6]:
def good_format(x) : 
    x = x.replace(' ','_')
    print(x)
    return x

## Function to extract data from the wikipedia info box using pandas.read_html

In [7]:
def extract_data(x) : 
    page = 'https://en.wikipedia.org/wiki/'+x
    infoboxes = pd.read_html(page, index_col=0, attrs={"class":"infobox"})
    df = pd.DataFrame(infoboxes[-1])
    print(df)
    return df

## Function to itterate trought the companies list and get data, this function create a Dataframe for each company and concatenate them at the end of the function we only keep the required infos

In [8]:
def create_a_df(companies_list) : 
    final = pd.DataFrame()
    name = pd.Series(companies_list,name='name')
    for i in companies_list : 
        site = good_format(i)
        data = extract_data(site).T
        final = pd.concat([final,data])
    final_df = final[[ 'Headquarters','Revenue','Number of employees','Website']]
    final_df['Name'] = list(companies_list)
    return final_df

## Function to get the url of companies websites using google search

In [9]:
def getURL(companyName):
    try:
        term = companyName
        for url in search(term, num_results=1):
            print(url)
            return url
    except:
        return ''
        pass

## Function to get the url of companies social link using google search

In [10]:
def getURLmedia(companyName, media):
    try:
        term = ' '.join([companyName, media])
        for url in search(term, num_results=1):
            return url
    except:
        return ''
        pass

In [11]:
data = create_a_df(companies)

Microsoft
                                                                                                    1
0
NaN                                                                                               NaN
Building 92 on the Microsoft Redmond campus               Building 92 on the Microsoft Redmond campus
Trade name                                                                                  Microsoft
Type                                                                                           Public
Traded as                                           Nasdaq: MSFTNasdaq-100 componentDJIA component...
ISIN                                                                                     US5949181045
Industry                                                                       Information technology
Founded                                             April 4, 1975; 47 years ago in Albuquerque, Ne...
Founders                                                                         Bill GatesPaul Allen
Headquarters                                               One Microsoft WayRedmond, Washington, U.S.
Area served                                                                                 Worldwide
Key people                                          Satya Nadella(chairman and CEO)Brad Smith(vice...
Products                                            Software developmentComputer hardwareConsumer ...
Brands                                              Windows Office Skype Visual Studio Dynamics Xb...
Services                                            Azure Bing LinkedIn Yammer Microsoft 365 OneDr...
Revenue                                                                       US$198.3 billion (2022)
Operating income                                                               US$83.4 billion (2022)
Net income                                                                     US$72.7 billion (2022)
Total assets                                                                  US$364.8 billion (2022)
Total equity                                                                  US$166.5 billion (2022)
Number of employees                                                                    221,000 (2022)
Divisions                                                        Microsoft Research Xbox Game Studios
Subsidiaries                                        GitHub LinkedIn Metaswitch Nuance Communicatio...
Website                                                                                 microsoft.com
Footnotes / referencesFinancials as of June 30,...  Footnotes / referencesFinancials as of June 30...
Salesforce
                                                                                                    1
0
NaN                                                                                               NaN
Salesforce Tower in San Francisco, the headquar...  Salesforce Tower in San Francisco, the headqua...
Trade name                                                                                 Salesforce
Formerly                                                                         salesforce.com, inc.
Type                                                                                   Public company
Traded as                                           NYSE: CRMDJIA componentS&P 100 componentS&P 50...
Industry                                                 Cloud computingEnterprise softwareConsulting
Founded                                                                February 3, 1999; 23 years ago
Founders                                            Marc BenioffParker HarrisDave MoellenhoffFrank...
Headquarters                                          Salesforce TowerSan Francisco, California, U.S.
Key people                                          Marc Benioff(Chairman & co-CEO)Bret Taylor(Vic...
Services                                                                              Cloud computing
Revenue                                                                       US$26.49 billion (2022)
Operating income                                                                US$548 million (2022)
Net income                                                                     US$1.44 billion (2022)
Total assets                                                                  US$95.21 billion (2022)
Total equity                                                                  US$58.13 billion (2022)
Number of employees                                                              73,542 (August 2022)
Subsidiaries                                        QuipHerokuMuleSoftTableau SoftwareAcumen Solut...
Website                                                                                salesforce.com
Footnotes / references[1]                                                   Footnotes / references[1]
Bouygues_Construction
                                                                     1
0
NaN                                                                NaN
Type                                          Public (Société Anonyme)
Traded as                          Euronext Paris: EN CAC 40 Component
ISIN                                                      FR0000120503
Industry                                                  Conglomerate
Founded                                             1952; 70 years ago
Founder                                               Francis Bouygues
Headquarters                         8th arrondissement, Paris, France
Key people            Martin Bouygues (chairman) Olivier Roussat (CEO)
Products             Civil engineering, real estate development, me...
Revenue                                       €37.59 billion (2021)[1]
Operating income                               €1.69 billion (2021)[1]
Net income                                    €1.125 billion (2021)[1]
Number of employees                              124,600 (Dec 2021)[2]
Subsidiaries         Bouygues ConstructionBouygues ImmobilierBouygu...
Website                                                            [1]
BNP_Paribas
                                                                                                    1
0
NaN                                                                                               NaN
The registered office of BNP Paribas is the for...  The registered office of BNP Paribas is the fo...
Type                                                                                  Société Anonyme
Traded as                                                        Euronext Paris: BNP CAC 40 Component
Industry                                                                           Financial services
Predecessor                                                          Banque Nationale de ParisParibas
Founded                                             1848; 174 years ago (Comptoir National d'Escom...
Headquarters                                                    Boulevard des Italiens, Paris, France
Area served                                                                                 Worldwide
Key people                                          Jean Lemierre[1] (Chairman)Jean-Laurent Bonnaf...
Products                                            Investment banking, corporate banking, securit...
Revenue                                                                       €46.2 billion (2021)[2]
Operating income                                                              €12.2 billion (2021)[2]
Net income                                                                     €9.5 billion (2021)[2]
Total assets                                                                  €2.6 trillion (2021)[2]
Total equity                                                                 €117.9 billion (2021)[2]
Number of employees                                                                 190,000 (2022)[2]
Website                                                                              group.bnpparibas
HSBC

                                                                                           1
0
NaN                                                                                      NaN
HSBC headquarters at Canary Wharf, London          HSBC headquarters at Canary Wharf, London
Type                                                                  Public limited company
Traded as                                  LSE: HSBA SEHK: 5 NYSE: HSBC BSX: HSBC.BH FTSE...
Industry                                                                  Financial services
Founded                                    First established on 3 March 1865; 157 years a...
Founder                                    Sir Thomas Sutherland (for The Hongkong and Sh...
Headquarters                                              8 Canada SquareLondon, England, UK
Area served                                                                        Worldwide
Key people                                 Mark Tucker(Group Chairman)Noel Quinn (Group C...
Products                                   Asset management, banking, commodities, credit...
Revenue                                                          US$49.552 billion (2021)[4]
Operating income                                                 US$18.906 billion (2021)[4]
Net income                                                       US$14.693 billion (2021)[4]
AUM                                                                 US$630 billion (2021)[4]
Total assets                                                     US$2.958 trillion (2021)[4]
Total equity                                                    US$206.777 billion (2021)[4]
Number of employees                                                        219,697 (2021)[4]
Subsidiaries                               Subsidiaries The Hongkong and Shanghai Banking...
Website                                                                         www.hsbc.com
Dataiku
                                                                     1
0
NaN                                                                NaN
Type                                                           Private
Industry                                             Computer software
Founded                February 14, 2013; 9 years ago in Paris, France
Founders             Florian DouetteauClément StenacMarc BattyThoma...
Headquarters                              New York City, United States
Key people                                     Florian Douetteau (CEO)
Products                                   Dataiku Data Science Studio
Revenue                                       US$150 million (2021)[1]
Number of employees                                   1,000+ (2022)[1]
Website                                                    dataiku.com

/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/230551724.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Name'] = list(companies_list)

In [12]:
data['Headquarters'].iloc[0] = 'Redmond, Washington, U.S'
data['Headquarters'].iloc[1] ='415 Mission St, San Francisco, CA 94105, États-Unis'
data['Headquarters'].iloc[4] ='8 Canada Square,London, England, UK'

/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/2606535024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Headquarters'].iloc[0] = 'Redmond, Washington, U.S'
/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/2606535024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Headquarters'].iloc[1] ='415 Mission St, San Francisco, CA 94105, États-Unis'
/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/2606535024.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Headquarters'].iloc[4] ='8 Canada Square,London, England, UK'

In [13]:
data

,Headquarters,Revenue,Number of employees,Website,Name
1,"Redmond, Washington, U.S",US$198.3 billion (2022),"221,000 (2022)",microsoft.com,Microsoft
1,"415 Mission St, San Francisco, CA 94105, États...",US$26.49 billion (2022),"73,542 (August 2022)",salesforce.com,Salesforce
1,"8th arrondissement, Paris, France",€37.59 billion (2021)[1],"124,600 (Dec 2021)[2]",[1],Bouygues Construction
1,"Boulevard des Italiens, Paris, France",€46.2 billion (2021)[2],"190,000 (2022)[2]",group.bnpparibas,BNP Paribas
1,"8 Canada Square,London, England, UK",US$49.552 billion (2021)[4],"219,697 (2021)[4]",www.hsbc.com,HSBC
1,"New York City, United States",US$150 million (2021)[1],"1,000+ (2022)[1]",dataiku.com,Dataiku

## This part is using geocode to extract GPS coodinates of headquarters to use later

In [14]:
data['longitude'] =''
data['latitude'] = ''
for i in range(0, len(data)) :
    try : 
        location = geolocator.geocode(data['Headquarters'].iloc[i])
        print("for",data['Name'].iloc[i],"The longitude and the latitude of the location are: ", location.longitude, location.latitude)
        data['longitude'].iloc[i] = location.longitude
        data['latitude'].iloc[i] = location.latitude
    except : 
        print('not working on', data['Name'].iloc[i])
        pass

/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/3635620430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['longitude'] =''
/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/3635620430.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['latitude'] = ''

for Microsoft The longitude and the latitude of the location are:  -122.1779501 47.6188947

/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/3635620430.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['longitude'].iloc[i] = location.longitude
/var/folders/q1/v8q8_chd1rd46t7djqglmp6r0000gn/T/ipykernel_95704/3635620430.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['latitude'].iloc[i] = location.latitude

for Salesforce The longitude and the latitude of the location are:  -122.3969321220982 37.78977435
for Bouygues Construction The longitude and the latitude of the location are:  2.31765 48.8774799
for BNP Paribas The longitude and the latitude of the location are:  2.3394026 48.8718899
for HSBC The longitude and the latitude of the location are:  -0.01744041703082449 51.50543155
for Dataiku The longitude and the latitude of the location are:  -74.0060152 40.7127281

In [15]:
data

,Headquarters,Revenue,Number of employees,Website,Name,longitude,latitude
1,"Redmond, Washington, U.S",US$198.3 billion (2022),"221,000 (2022)",microsoft.com,Microsoft,-122.17795,47.618895
1,"415 Mission St, San Francisco, CA 94105, États...",US$26.49 billion (2022),"73,542 (August 2022)",salesforce.com,Salesforce,-122.396932,37.789774
1,"8th arrondissement, Paris, France",€37.59 billion (2021)[1],"124,600 (Dec 2021)[2]",[1],Bouygues Construction,2.31765,48.87748
1,"Boulevard des Italiens, Paris, France",€46.2 billion (2021)[2],"190,000 (2022)[2]",group.bnpparibas,BNP Paribas,2.339403,48.87189
1,"8 Canada Square,London, England, UK",US$49.552 billion (2021)[4],"219,697 (2021)[4]",www.hsbc.com,HSBC,-0.01744,51.505432
1,"New York City, United States",US$150 million (2021)[1],"1,000+ (2022)[1]",dataiku.com,Dataiku,-74.006015,40.712728

## Itterating trought the dataframe to find corresponding website

In [18]:
for i in range(0, len(data)) : 
    try :
        url = getURL(i)
        time.sleep(20)
    except : 
        pass
    if url != '' : 
        data['Website'].iloc[i] = url

## Itterating trought the dataframe to find corresponding social media

In [21]:
data['social_media'] =''
for i in range(0, len(data)) :
    lst = []
    for s in social_media :
        try : 
            url = getURLmedia((data['Name'].iloc[i]),s)
            time.sleep(2)
        except : 
            pass
        if url != '' :
            print(url)
            lst.append(url)
    data['social_media'].iloc[i] = lst
    time.sleep(2)

## exporting the final Dataframe as a csv

In [ ]:
data.to_csv('export.csv')